.page-header {
  background-color: #ffffff;
  @media (min-width: @tablet-width) {
  display: flex;
  justify-content: space-between;
  }
}

.page-header__logo {
  height: 38px;
    @media (min-width: @tablet-width) {
        }
    @media (min-width: @desktop-width) {
          height: 59px;
    }
}

.page-header__logo-2 {
  height: 18px;
}

.page__header-catalog {
  border-bottom: 1px solid #D9D9D9;
  @media (min-width: @tablet-width) {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
  }
}
