.page-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page-header__logo {
  height: 38px;
    @media (min-width: @tablet-width) {
        .page-header__logo {
          height: 52px;
        }
    }
    @media (min-width: @desktop-width) {
          height: 59px;
    }
}

.page-header__logo-2 {
  height: 18px;
}

