.page-header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 20px;
  width: 191px;
  margin-top: 11px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    padding-left: 30px;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    margin-top: 38px;
  }
}
