.page-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-nav__wrapper{
   @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      width: 710px;
      margin: 0 auto;
    }
    @media (min-width: @desktop-width) {
      width: 1220px;
    }
}

    .page-nav__toggle {
      @media (min-width: @tablet-width){
      display: none;
    }
    @media (min-width: @desktop-width){
      display: none;
    }
  }


