.products-card-name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
  
.products-card-weight,
.products-card-wt,
.products-card-taste,
.products-card-price,
.products-card-cost {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
  
.products-card-order {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products-card-list {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.products-card__item {
  @media (min-width: @tablet-width) {
    min-width: 324px;
    background-color: #F2F2F2;
  }
  @media (min-width: @desktop-width) {
    min-width: 245px;
    background-color: #F2F2F2;
  }
}