.footer-conteiner__location {
  background-image: url("../images/index/map-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.footer-conteiner__adress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  @media (min-width: @tablet-width) {
    width: 708px;
  }
}

.footer-conteiner__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  @media (min-width: @tablet-width) {
    width: 708px;
    flex-direction: row;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
}
}

.footer-conteiner {
  display: flex;
  width: 300px;
  background: #F2F2F2;
  @media (min-width: @tablet-width) {
    width: 708px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
}
}

